{% extends "tools/base.html" %}
{% block meta_description %}
    Reduce PDF file size online without losing quality. Compress large PDFs instantly using PDFix.
{% endblock %}
{% block title %}Compress PDF - PDFix{% endblock %}
{% block head %}
    {% include "tools/components/spinner_style.html" %}
{% endblock %}
{% block content %}
    <h2>Compress PDF</h2>

    {% include "tools/components/tool_desc.html" with text="Reduce the size of your PDF files without significantly affecting quality. Smaller PDFs are easier to share and upload." %}

    {% include "tools/components/spinner.html" %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include "tools/components/uploader.html" with input_name="file" multiple=False %}
        <br>
        <button type="submit">Compress PDF</button>
    </form>
    {% include "tools/components/uploader_script.html" %}
    {% include "tools/components/spinner_script.html" %}
{% endblock %}