{% extends "tools/base.html" %}
{% block title %}Compress PDF to 100KB - PDFix{% endblock %}
{% block head %}
    {% include "tools/components/spinner_style.html" %}
{% endblock %}
{% block content %}
    <h2>Compress PDF to 100KB</h2>

    <p style="color: #666;">
        Compress your PDF to approximately 100KB
    </p>

    {% include "tools/components/spinner.html" %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include "tools/components/uploader.html" with input_name="file" multiple=False %}
        <br>
        <button type="submit">Compress to 100KB</button>
    </form>
    {% include "tools/components/uploader_script.html" %}
    {% include "tools/components/spinner_script.html" %}
{% endblock %}