{% extends "tools/base.html" %}
{% block meta_description %}
    Free online PDF tools to merge, split, compress, convert and manage PDF files quickly and securely. No signup required.
{% endblock %}
{% block title %}PDFix - Free Online PDF Tools | Merge, Split, Compress & Convert PDFs{% endblock %}
{% block content %}
    <h1>Free Online PDF Tools</h1>

    <p>
        Merge, split, compress, convert and edit PDF files easily.
    </p>

    <div class="tools-grid">
        <a class="tool-card" href="/merge-pdf/">📄 Merge PDF</a>
        <a class="tool-card" href="/split-pdf/">✂ Split PDF</a>
        <a class="tool-card" href="/compress-pdf/">🗜 Compress PDF</a>
        <a class="tool-card" href="/compress-pdf-100kb/">📉 Compress to 100KB</a>
        <a class="tool-card" href="/extract-pages/">📑 Extract Pages</a>
        <a class="tool-card" href="/pdf-to-image/">📷 PDF to Image</a>
        <a class="tool-card" href="/image-to-pdf/">🖼 Image to PDF</a>
        <a class="tool-card" href="/rotate-pdf/">🔁 Rotate PDF</a>
        <a class="tool-card" href="/protect-pdf/">🔒 Protect PDF</a>
        <a class="tool-card" href="/unlock-pdf/">🔓 Unlock PDF</a>
        <a class="tool-card" href="/reorder-pdf/">📑 Reorder Pages</a>
        <a class="tool-card" href="/docx-to-pdf/">📝 DOCX to PDF</a>
        <a class="tool-card" href="/pdf-to-docx/">📄 PDF to DOCX</a>
    </div>
{% endblock %}