{% extends "tools/base.html" %}
{% block meta_description %}
    Merge multiple PDF files into one document quickly and securely with PDFix. Arrange pages easily and download the combined PDF instantly.
{% endblock %}
{% block title %}Merge PDF Online Free | Combine PDF Files - PDFix{% endblock %}
{% block head %}
    {% include "tools/components/spinner_style.html" %}
    <style>
        #previewContainer{
            display:flex;
            gap:15px;
            flex-wrap:wrap;
            margin-top:20px;
            justify-content:center;
        }

        .file-card{
            border:1px solid #ddd;
            padding:10px;
            border-radius:8px;
            background:white;
            width:140px;
        }

        .file-card button{
            margin-top:5px;
        }

        .file-card canvas{
            width:100%;
        }


        #submitBtn{
            margin-top: 20px;
        }
    </style>
{% endblock %}
{% block content %}
    <h2>Merge PDF</h2>

    {% include "tools/components/tool_desc.html" with text="Combine multiple PDF files into a single document quickly and securely. Upload your files, arrange them in the desired order, and download the merged PDF instantly." %}

    {% include "tools/components/spinner.html" %}

    {% include "tools/components/error_message.html" %}

    <form method="post" enctype="multipart/form-data" id="uploadForm">
        {% csrf_token %}
        {% include "tools/components/uploader.html" with input_name="files" multiple=True accept_types=".pdf" %}
        <br>
        <div id="previewContainer" class="preview-container"></div>
        <br>
        <button type="submit" id="submitBtn">Merge</button>
    </form>
    
    {% include "tools/components/faq.html" %}
    {% include "tools/components/uploader_script.html" %}
    {% include "tools/components/spinner_script.html" %}
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

    <script>
        const container = document.getElementById("previewContainer");
        if (container) {
            new Sortable(container, {
                animation: 150,
                onEnd: function() {
                    const reordered = [];
                    document.querySelectorAll(".file-card").forEach(card => {
                        const name = card.dataset.name;
                        const file = window.filesArray.find(f => f.name === name);
                        if (file) {
                            reordered.push(file);
                        }
                    });
                    window.filesArray = reordered;
                }
            });
        }
    </script>
{% endblock %}
</html>