{% extends "tools/base.html" %}
{% block title %}PDF to DOCX - PDFix{% endblock %}
{% block head %}
    {% include "tools/components/spinner_style.html" %}
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
        }

        .drop-zone{
            width: 400px;
            margin: auto;
            margin-top: 40px;
            padding: 40px;
            border: 2px dashed #aaa;
            border-radius: 10px;
            cursor: pointer;
        }

        .drop-zone.dragover{
            background: #eef3ff;
        }
    </style>
{% endblock %}
{% block content %}
    <h2>PDF to DOCX</h2>

    <p style="color: #666;">
        Convert PDF files into editable Microsoft Word documents.
    </p>

    {% include "tools/components/spinner.html" %}

    <form method="post" enctype="multipart/form-data" id="uploadForm">
        {% csrf_token %}
        {% include "tools/components/uploader.html" with input_name="file" multiple=False %}
        <br>
        <button type="submit" id="submitBtn">Convert</button>
    </form>
    {% include "tools/components/uploader_script.html" %}
    {% include "tools/components/spinner_script.html" %}
    <script>
        const form = document.getElementById("uploadForm")
        const loader = document.getElementById("loader")
        const button = document.getElementById("submitBtn")

        form.addEventListener("submit", function(){

            loader.style.display="block"
            button.disabled=true
            button.innerText="Processing..."

        })
    </script>
{% endblock %}