{% extends "tools/base.html" %}
{% block meta_description %}
    Convert PDF pages into high-quality images such as PNG or JPG using PDFix free online PDF to image converter.
{% endblock %}  
{% block title %}PDF to Image{% endblock %}
{% block head %}
    {% include "tools/components/spinner_style.html" %}
{% endblock %}
{% block content %}
    <h2>Convert PDF to Image(S)</h2>

    {% include "tools/components/tool_desc.html" with text="Convert each page of your PDF into high-quality image files for easy sharing or editing." %}

    {% include "tools/components/spinner.html" %}

    <form method="post" enctype="multipart/form-data" id="uploadForm">
        {% csrf_token %}
        {% include "tools/components/uploader.html" with input_name="files" multiple=True %}
        <br>
        <button type="submit" id="submitBtn">Convert</button>
    </form>
    {% include "tools/components/uploader_script.html" %}
    {% include "tools/components/spinner_script.html" %}
{% endblock %}