{% extends "tools/base.html" %}
{% block meta_description %}
    Merge multiple PDF files into one document quickly and securely with PDFix. Arrange pages easily and download the combined PDF instantly.
{% endblock %}
{% block title %}Split PDF - PDFix{% endblock %}
{% block head %}
    {% include "tools/components/spinner_style.html" %}
{% endblock %}
{% block content %}
    <h2>Split PDF</h2>

    {% include "tools/components/tool_desc.html" with text="Split a PDF into separate pages or extract specific pages from your document. Perfect for sharing or organizing large PDF files." %}

    {% include "tools/components/spinner.html" %}

    <form method="post", enctype="multipart/form-data">
        {% csrf_token %}
        {% include "tools/components/uploader.html" with input_name="file" multiple=False %}
        <br>
        <button type="submit">Split PDF</button>
    </form>
    {% include "tools/components/uploader_script.html" %}
    {% include "tools/components/spinner_script.html" %}
{% endblock %}